<%- include('./partials/head') %>

<article>
  <header>
    <h1><%= member.name %> <%= member.surname %></h1>
    <p><em><%= member.nickname %></em></p>
  </header>

  <img src="<%= member.avatar %>" alt="Creative Coder" class="img1">

<dl>
    <dt><%= member.role %></dt><dd>role</dd>
    <dt><%= member.gitHubHandle %></dt><dd>Github handle</dd>
    <dt>Media college Amsterdam</dt><dd>Vorige opleiding</dd>
  </dl>

  <p>Hiervoor heb ik de opleiding media developer gevolgd op het Media College Amsterdam <br><br> Hier zijn wat linkjes van websites waar ik eerder aan heb gewerkt :) <br><br> <a href="https://loud-mouth.eu/%22%3ELoudmouth</a> <br><br><a href="https://loud-mouth.eu/vuams/%22%3EVU-AMS</a></p>
</article>

<%- include('./partials/foot') %>